<!-- views/filedrop.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dateidrop</title>
</head>
<body>
    <h1>Datei hochladen</h1>
    <form action="/filedrop" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Hochladen</button>
    </form>
    <h1>Datei anzeigen</h1>
    <form action="/filedrop" method="get">
        <button type="submit">Anzeigen</button>
    </form>
    <h1>Datei herunterladen</h1>
    <form action="/filedrop" method="get">
        <button type="submit">Herunterladen</button>
    </form>
    <h1>Datei löschen</h1>
    <form action="/filedrop" method="get">
        <button type="submit">Löschen</button>
    </form>

    <h1>Bilder</h1>
    <div id="imageContainer"></div>
    
</body>
</html>